@import "../../../styles/common.module.scss";

.currencyInput {
  min-width: 20px;
  width: fit-content;
  height: 20px;
  text-align: center;
  border: none;
  border-radius: 6px;
  outline: none;
  font-weight: 600;
  font-size: 12px;
  color: #95aac9;
  border: 1px solid #e3ebf6;
  @extend .formControlFocus;

  // &:focus {
  //   border: 1px solid #176ce2 !important;
  // }
}
