.cfCeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0px;
  min-width: 80px;
  width: fit-content !important;
  padding: 8px 16px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
}
